header {
  height: 200px;
  width: 100%;
  font-family: Helvetica;
  background-color: black;
  z-index: 1;
  text-decoration: underline;
  position: fixed;
  border-bottom: 1px solid seashell;

}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

body {
  background-color: purple;
  font-size: 22px;
  color: seashell;

}
nav {
  text-align: right;
  flex-grow: 1;
}
a {
  color: seashell;
}
#main-content {
  
  background-image: url(../resources/images/newfiegirl.jpg);
  padding-top: 1000px;
width: 100%;
}
h2 {font-size: 100px;

}
img {margin: 10px auto;
height: auto;
width: 100%;
display: flex;}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col {display: inline-flex;
flex-direction: column;
justify-content: space-between;}

.container {margin: 0 auto;
}
.spacer {max-width: 1200px;
margin:auto;}
